.header {
  height: 90px;
  width: 100%;
  padding: 0 25px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

/* LEFT SIDE */
.left {
  display: flex;
  align-items: center;
}

/* LOGO */
.logo {
  width: 120px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

/* NAV BAR */
.header nav {
  display: flex;
  gap: 20px;
  background: #DE4F75;
  padding: 8px 18px;
  border-radius: 30px;
}

/* NAV LINKS */
.header nav a {
  color: #DE4F75;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

/* HOVER */
.header nav a:hover {
  color: #b83c5f;
}