.details {
  white-space: pre-line;
}

.details-dd{
    color: white;
}

.details-page{
padding: 40px 6%;
min-height: 100vh;
}
.h2{
    color: white;
}

.card-button {
  background: #ffffff;
  color: #DE4F75;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}